 /* p{
            color: aqua;
        }
        h1{
            color: rebeccapurple;
        } */

        /* .green{
            color: green;
        }
        .blue{
            color: blue;
        }
        .smaller{
            font-size: smaller;
        }
        .larger{
            font-size: larger;
        } */
        /* #first-button{
            color: red;
        }
        #intro{
            background-color: aqua;
        }
        button:hover{
            color: yellow;
        }
        a:hover{
            color: rgb(13, 13, 255);
        }
        .link{
            color:;
        } */

#intro{
    color: red;
    background-color: aqua;
}

.link{
    color: red;
}

p{
    color: blue;
}
.para{
    color: orange;
}
#black-para{
    color: green !important;
}